@{
    ViewData["Title"] = "Despre site";
}
<h2>Despre site</h2>
<p>
    Acest site conține informații despre seriale: descrieri, recenzii, ratinguri și pe ce platforme pot fi vizionate.
    De asemenea, poți face liste cu serialele pe care le urmărești sau le-ai terminat.
</p>