@{
    ViewData["Title"] = "FAQ";
}
<h2>Întrebări frecvente</h2>
<ul>
    <li><b>Î: Cum pot adăuga un serial la lista mea?</b><br />R: Trebuie să fii autentificat și să mergi pe pagina serialului.</li>
    <li><b>Î: Pot să dau rating?</b><br />R: Da, fiecare utilizator poate vota serialele preferate.</li>
</ul>
